<!DOCTYPE html>
<html lang="en">
    <%- include('layout/head.ejs') %>
</head>
<body>
  <%- include('layout/navbar.ejs')%>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Workings</h5>
          <p class="card-text">practising</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



</body>
</html>